@import "tailwindcss";




  :root{
    --primary-orange: #FF6D00;
  }

  .bg-custom-orange{
    background-color: var(--primary-orange);
  }

  .text-custom-orange{
    color: var(--primary-orange);
  }

  :root{
    --primary-blue: #0A2540 ;
  }

  .bg-custom-blue{
    background-color: var(--primary-blue);
  }
  
  .text-custom-blue{
    color: var(--primary-blue);
  }

  